#head1 {
	margin-left: 200px;
	margin-top: 0px;
    margin-bottom: 0px;

}


#head2 {
  margin-left: 200px;
  color: black;
  font-family: rubik, sans-serif;
  font-size: 140px;
  text-shadow: 15px, 10px, black;
   margin-top: 0px;
    margin-bottom: 0px;
    
		}

#para1 {
      margin-left: 200px;
      font-size: 40px;
      margin-top: 0px;
    margin-bottom: 0px;
    }
#para2{
      margin-left: 200px;
      font-size: 40px;
      margin-top: 0px;
    margin-bottom: 0px;
    }